<!DOCTYPE html>
<html>
<head>
	<title>Buscar CEP</title>

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">


</head>
<body>




    <div class="container">

      <!-- Main component for a primary marketing message or call to action -->
      <div class="jumbotron">
        <h1>Buscar CEP</h1>
        <p>BY Renan Oliveira</p>
        
      </div>

      <form action="/busca-cep" method="post" accept-charset="utf-8" class="form-horizontal" role="form">
		  <div class="form-group">
		    <label for="cep" class="col-sm-2 control-label">Email</label>
		    <div class="col-sm-2">
		      <input type="text" name="cep" class="form-control" id="cep" placeholder="Digite CEP">
		    </div>
		  </div>

	     <div class="form-group">
    <div class="col-sm-offset-2 col-sm-2">
	    <input type="submit" value="Buscar CEP" class="btn btn-success">
    </div>
  </div>

	  </form>

    </div> <!-- /container -->


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>

</body>
</html>